.advantages__list {
  padding: 0;
  margin: 0;
}
.advantages__item {
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: $text-color;
  background-color: $advantages-gray;
  margin: 0;
}
.advantages__item--city {
  color: $basic-white;
  background-color: $lightblue;
  padding: 40px 10px;
}
.advantages__item--bridge {
  color: $basic-white;
  background-color: $lightblue;
  padding: 35px 15px;
}
.advantages__item--square {
  padding: 26px;
}
.advantages__item--road {
  padding: 26px;
}
.advantages__item--tourists {
  padding: 26px;
}
.advantages__image {
  display: block;
}
