.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.advantages__item {
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: $text-color;
  background-color: $advantages-gray;
  margin: 0;
  padding: 26px;
    &--city {
    color: $basic-white;
    background-color: $lightblue;
    padding: 40px 10px;
  }
    &--bridge {
    color: $basic-white;
    background-color: $lightblue;
    padding: 35px 15px;
  }
    &--recommendations {
      padding: 0;
    }
}

.advantages__image {
  display: block;
}
