.button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  color: $basic-white;
  background-color: $lightblue;
  border: $lightblue;
  outline: none;

  padding: 16px 46px;
}

.button:hover {
  background-color: $lightblue-hover;
}

.button:active {
  background-color: $lightblue-focus;
  color: rgba(255, 255, 255, 0.7);
}

@media (min-width: $tablet-width) {
  .button {
    display: grid;
    grid-template-columns: 1fr;
    width: 324px;
  }
}

@media (min-width: $desktop-width) {
  .button {
    width: 476px;
  }
}
