.features__list {
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: $text-color;
  background-color: $advantages-gray;

  list-style: none;
  padding: 0;
  margin: 0;
}
.features__item {
  padding: 30px 21px;
}
.features__subtitle br {
  display: none;
}

@media (min-width: $tablet-width) {
  .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .features__subtitle {
    font-size: 21px;
    line-height: 26px;
  }
  .features__subtitle br {
    display: block;
  }
  .features__item {
    padding: 30px 48px;
  }
}

@media (min-width: $desktop-width) {
  .features__item {
    padding: 30px 50px;
  }
}
