.features__list {
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: $text-color;
  background-color: $advantages-gray;

  list-style: none;
  padding: 0;
  margin: 0;
}
.features__item {
  padding: 30px 21px;
}
.features__subtitle br {
  display: none;
}
.features__item--road,
.features__item--tourists {
  position: relative;
}
@media (max-width: $mobile-only) {
  .features__item--road::before {
    content: "";
    position: absolute;
    top: 0;
    left: 18px;
    width: 280px;
    height: 2px;
    background-color: $gray-line;
  }
  .features__item--tourists::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 18px;
    width: 280px;
    height: 2px;
    background-color: $gray-line;
  }
}


@media (min-width: $tablet-width) {
  .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .features__subtitle {
    font-size: 21px;
    line-height: 26px;
  }
  .features__subtitle br {
    display: block;
  }
  .features__item {
    padding: 30px 48px;
  }
}

@media (min-width: $desktop-width) {
  .features__item {
    padding: 30px 50px;
  }
}
