.form__field {
  position: relative;
  padding: 0;
  border: none;
}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__subtitle {
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  &--identity {
    margin-top: 37px;
  }

  &--info {
    margin-top: 22px;
  }

  &--impression {
    margin-top: 34px;
  }

  &--sights {
    margin-top: 11px;
  }
}

.form__item {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
  margin-bottom: 45px;
}

.form__text {
  display: flex;
  align-items: baseline;
}

.form__field::before {
  content: "";
  position: absolute;
  top: 16px;
  left: -23px;
  width: 320px;
  height: 2px;
  background-color: $form-gray;
}

.form__field--info::before {
  top: 0;
}

.form__field--impression::before {
  top: 12px;
}

.form__field--sights::before {
  top: -6px;
}

.form__field--emotions::before {
  top: -6px;
}

.form__input {
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $basic-black;
  background-color: $form-gray;
  border: 3px solid $form-gray;
  height: 58px;
  width: 100%;
  margin-top: 15px;
  padding-left: 20px;

  &--emotions {
    width: 272px;
    margin-top: -9px;
    margin-bottom: 51px;
  }

  &--identity {
    margin: 3px 0 5px 11px;
  }

  &--phone,
  &--email {
    margin-top: 12px;
    padding-left: 17px;
  }

  &:hover {
    background-color: $gray-focus;
  }

  &:active {
    background-color: $basic-white;
    outline: none;
  }
}

.form__field--info label {
  margin-left: 18px;
}

.form__field--impression h3,
.form__field--sights h3 {
  margin-bottom: 36px;
}

.form__field--emotions textarea {
  min-height: 160px;
  padding: 15px;
}

.form__legend {
  display: none;
}

.form__item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-left: 75px;
}

.form__item label:hover::before {
  background-color: $gray-focus;
}

.form__item label:active::before {
  background-color: $gray-active;
}

.form__item label:active::after {
  opacity: 0.3;
}

.form__item--bell label {
  margin-top: 55px;
  margin-bottom: 53px;
}

.form__item--rocks {
  margin-top: 55px;
}

.form__input--phone {
  position: relative;
}

.form__field-box--phone::after {
  content: "";
  position: absolute;
  top: 100px;
  left: 221px;
  width: 58px;
  height: 58px;
  background-color: $gray-info;
  background-image: url("../img/optimized-svg/phone.svg");
  background-repeat: no-repeat;
  background-position: 19px 19px;
}

.form__field-box--email::after {
  content: "";
  position: absolute;
  top: 202px;
  left: 218px;
  width: 58px;
  height: 58px;
  background-color: $gray-info;
  background-image: url("../img/optimized-svg/mail.svg");
  background-repeat: no-repeat;
  background-position: 23px 23px;
}

.form__input--sights + label::before {
  content: "";
  position: absolute;
  left: -76px;
  top: -16px;
  width: 49px;
  height: 53px;
  border: 2px solid $form-gray;
  border-radius: 10%;
  background-color: $form-gray;
}

.form__input--sights:hover::before {
  background-color: $gray-focus;
}

.form__input--sights:checked + label::after {
  content: "";
  position: absolute;
  left: -62px;
  top: 5px;
  width: 23px;
  height: 16px;
  background-image: url("../img/optimized-svg/tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.form__input--impression + label::before {
  content: "";
  position: absolute;
  left: -76px;
  top: -15px;
  width: 48px;
  height: 48px;
  border: 2px solid $form-gray;
  border-radius: 50%;
  background-color: $form-gray;
}

.form__input--impression:checked + label::after {
  content: "";
  position: absolute;
  left: -61px;
  top: 2px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: $basic-black;
}

.form__button {
  padding: 16px 48px;
  margin-bottom: 44px;
}

@media (min-width: $tablet-width) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-bottom: 19px;
  }

  .form__field--identity {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-left: 56px;
  }

  .form__field--info {
    grid-column: 1 / -1;
    margin-top: 30px;
  }

  .form__field--impression {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .form__field--sights {
    grid-column: 1 / -1;
  }

  .form__list--sights {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form__field--emotions {
    grid-column: 1 / -1;
  }

  .form__field--info h3,
  .form__field--sights h3,
  .form__field--emotions h3 {
    text-align: center;
  }

  .form__field--impression h3 {
    margin-bottom: 75px;
  }

  .form__field--emotions h3 {
    margin-top: 85px;
    margin-bottom: 64px;
  }

  .form__item {
    margin-bottom: 0;
  }

  .form__item--bell label {
    margin-top: 24px;
    margin-bottom: 8px;
    margin-left: 111px;
  }

  .form__item--bridge label {
    margin-top: 24px;
    margin-bottom: 0;
    margin-left: 172px;
  }

  .form__item--park label {
    margin-left: 172px;
    margin-top: 54px;
  }

  .form__item--rocks label {
    margin-left: 109px;
  }

  .form__subtitle {
    font-size: 21px;
    line-height: 26px;
    position: relative;
    text-align: start;

    &--impression {
      margin-top: 28px;
    }

    &--identity {
      margin-top: 28px;
      margin-left: 0;
      margin-bottom: 55px;
    }

    &--sights {
      margin-top: 37px;
    }
  }

  .form__legend {
    display: block;
    justify-self: end;
    margin-top: 21px;
  }

  .form__item--negative-impression label {
    margin-top: 52px;
    margin-bottom: 52px;
    margin-left: 74px;
  }

  .form__input--phone {
    margin-top: 17px;
    margin-bottom: 11px;
  }

  .form__input--email {
    margin-top: 9px;
  }

  .form__input--emotions {
    width: 100%;
    margin-bottom: 53px;
  }

  .form__input--impression + label::before {
    left: -76px;
    top: -15px;
    width: 50px;
    height: 50px;
  }

  .form__input--impression:checked + label::after {
    top: 0;
  }

  .form__input--identity {
    margin: 3px 0 3px 13px;
  }

  .form__field::before {
    display: none;
  }

  .form__field-box--phone::after {
    top: 105px;
    left: 589px;
  }

  .form__field-box--email::after {
    top: 218px;
    left: 586px;
  }

  .form__field--identity h3::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 292px;
    top: 4px;
    left: -59px;
    background-color: $gray-line;
  }

  .form__field--info h3::before,
  .form__field--emotions h3::before,
  .form__field--sights h3::before {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    top: 11px;
    left: -2px;
    background-color: $gray-line;
  }

  .form__field--info h3::after,
  .form__field--emotions h3::after,
  .form__field--sights h3::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    top: 11px;
    right: 0;
    background-color: $gray-line;
  }

  .form__field--sights h3::before,
  .form__field--sights h3::after {
    top: 27px;
  }

  .form__field--emotions h3::before,
  .form__field--emotions h3::after {
    top: 9px;
  }

  .form__input--sights + label::before {
    left: -81px;
    width: 52px;
    height: 53px;
  }
}

@media (min-width: $desktop-width) {
  .form__list--sights {
    display: flex;
    justify-content: space-between;
  }

  .form__field-box {
    display: flex;
    justify-content: space-between;
  }

  .form__field-box p {
    display: flex;
    align-items: baseline;
    white-space: nowrap;
  }

  .form__field-box--phone {
    margin-top: 34px;
  }

  .form__field-box--email {
    margin-top: 43px;
  }

  .form__field--identity {
    padding-left: 78px;
  }

  .form__subtitle--impression {
    margin-top: 16px;
    margin-left: 78px;
  }

  .form__subtitle--identity {
    margin-top: 15px;
  }

  .form__subtitle--sights {
    margin-top: 25px;
  }

  .form__phone--contact {
    display: none;
  }

  .form__input--phone,
  .form__input--email {
    width: 312px;
  }

  .form__input--phone {
    margin-left: 15px;
  }

  .form__input--email {
    margin-left: 20px;
  }

  .form__input--impression + label::before {
    left: -71px;
    top: -16px;
  }

  .form__input--impression:checked + label::after {
    left: -55px;
  }

  .form__field--info label {
    margin-left: 0;
  }

  .form__field-box--phone::after {
    top: 120px;
    left: 341px;
  }

  .form__field-box--email::after {
    top: 120px;
    left: 899px;
  }

  .form__field--identity h3::before {
    top: 4px;
    left: -80px;
  }

  .form__item--bridge label {
    margin-top: 26px;
    margin-left: 78px;
  }

  .form__item--bell label {
    margin-left: 109px;
  }

  .form__item--rocks label {
    margin-top: -30px;
  }

  .form__item--park label {
    margin-top: 25px;
    margin-left: 109px;
  }

  .form__field--emotions h3::before,
  .form__field--sights h3::before,
  .form__field--emotions h3::after,
  .form__field--sights h3::after {
    width: 278px;
  }

  .form__field--info h3::before,
  .form__field--info h3::after {
    top: 10px;
    width: 278px;
  }

  .form__field--emotions h3 {
    margin-top: 77px;
  }

  .form__button {
    width: 481px;
    margin-bottom: 49px;
  }
}
