.form__field {
  border: none;
  padding: 20px 0;
}
.form__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.form__subtitle {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}
.form__item {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
  margin-bottom: 45px;
}
.form__input {
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $basic-black;
  background-color: $form-gray;
  border: 2px solid $form-gray;
  height: 58px;
  width: 100%;
  margin-top: 15px;
  padding-left: 20px;
    &--emotions {
      width: 272px;
      padding: 20px 0;
    }
}
.form__legend {
  display: none;
}

@media (min-width: $tablet-width) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
  }
  .form__field--info {
    grid-column: 1 / -1;
  }
  .form__field--impression {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .form__field--sights {
    grid-column: 1 / -1;
  }
  .form__list--sights {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .form__field--emotions {
    grid-column: 1 / -1;
  }
  .form__legend {
    display: block;
    justify-self: end;
  }
}

@media (min-width: $desktop-width) {
  .form__list--sights {
    display: flex;
    justify-content: space-between;
  }
  .form__field-box {
    display: flex;
    justify-content: space-between;
  }
}
