.form__subtitle {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}
.form__input {
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $basic-black;

  width: 100%;
  height: 58px;
  background-color: $form-gray;
  border: 2px solid $form-gray;

  margin-top: 15px;
  padding-left: 20px;
}
