.gallery {
  position: relative;
}
.gallery__list {
  list-style: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.gallery__image {
  margin: 0;
}
.gallery__image img {
  display: block;
}
.gallery__item-caption{
  margin-bottom: 0;
}
.gallery__item-author {
  font-weight: normal;
  text-transform: none;
  margin-top: 15px;
}
.gallery__item-likes {
  position: relative;
  margin-left: 33px;
}
.gallery__item {
  margin-bottom: 40px;
}
.gallery__item-likes::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -32px;
  width: 23px;
  height: 21px;
  background-image: url(../img/icons/like-icon.svg.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (max-width: $mobile-only) {
  .gallery__image,
  .gallery__item-author,
  .gallery__item-likes {
    padding: 0 20px;
  }
  .gallery__item-likes::before {
    left: -12px;
  }
  .gallery__item-box {
    position: relative;
  }
  .gallery__item-box::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 66px;
    left: 0;
    background-color: $gray-line;
  }
  .gallery__item--sunset::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: -24px;
    left: 0;
    background-color: $gray-line;
  }
}

@media (min-width: $tablet-width) {
  .gallery {
    padding: 0 60px;
  }
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
  }
  .gallery__image-sunset {
    width: 100%;
  }
  .gallery__image-flowers,
  .gallery__image-road,
  .gallery__image-bridge {
    width: 324px;
  }
  .gallery__item {
    margin-bottom: 0;
    border-bottom: 80px;
    background-color: $form-gray;
  }
  .gallery__item--road {
    border-bottom: 80px;
    background-color: $gray-hover;
  }
  .gallery__item-box {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
  }
  .gallery__item-box p {
    margin: 0 0 10px;
  }
  .gallery__item-likes {
    margin-left: auto;
  }
  .gallery__item-caption {
    margin-top: 10px;
    margin-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .gallery {
    padding: 0;
  }
  .gallery__item {
    position: relative;
    border: none;
  }
  .gallery__image {
    display: flex;
  }
  .gallery__image-sunset {
    width: 100%;
  }
  .gallery__image-flowers,
  .gallery__image-road,
  .gallery__image-bridge {
    width: 400px;
  }
  .gallery__item {
    position: relative;
    margin-bottom: 0;
    border-bottom: none;
  }
  .gallery__item-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 236px;
    left: 0;
    color: $basic-white;
    z-index: 2;
  }
  .gallery__item-caption {
    position: absolute;
    top: 203px;
    left: 0;
    color: $basic-white;
    z-index: 2;
  }
  .gallery__item--sunset .gallery__item-box {
    top: 367px;
  }
  .gallery__item--sunset .gallery__item-caption {
    top: 334px;
  }
  .gallery__item-likes::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -32px;
    width: 23px;
    height: 21px;
    background-image: url(../img/icons/like-icon1.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .gallery__item-shadow {
    position: absolute;
    top: 197px;
    min-height: 70px;
    width: 100%;
    background-color: $basic-black;
    opacity: 30%;
  }
  .gallery__item--sunset .gallery__item-shadow {
    top: 330px;
  }
}
