.gallery {
  position: relative;
}

.gallery__list {
  list-style: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.gallery__item-wrapper {
  margin-right: 20px;
}

.gallery__image {
  margin: 0;
}

.gallery__image img {
  display: block;
  width: 100%;
}

.gallery__image-sunset {
  margin-top: 15px;
}

.gallery__item-caption {
  margin-bottom: 0;
}

.gallery__image-flowers .gallery__item-caption {
  margin-top: 11px;
  margin-bottom: 2px;
}

.gallery__item-author {
  font-weight: normal;
  text-transform: none;
  margin-top: 3px;
}

.gallery__item-likes {
  position: relative;
  margin-left: 37px;
  margin-top: 16px;
}

.gallery__item {
  margin-bottom: 40px;
}

.gallery__item-likes::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -36px;
  width: 23px;
  height: 21px;
  background-image: url("../img/optimized-svg/like-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media (max-width: $mobile-only) {
  .gallery__image img,
  .gallery__item-box {
    padding: 0 20px;
  }

  .gallery__item-box {
    position: relative;
  }

  .gallery__item-box::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 98px;
    left: 0;
    background-color: $gray-line;
  }

  .gallery__item--sunset::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: -22px;
    left: 0;
    background-color: $gray-line;
  }
}

@media (min-width: $tablet-width) {
  .gallery {
    padding: 0 60px;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery__item {
    margin-bottom: 0;
  }

  .gallery__item-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $form-gray;
    padding: 0 20px;
  }

  .gallery__item-caption {
    margin-top: 18px;
    margin-bottom: 0;
  }

  .gallery__item-author {
    margin-top: 4px;
    margin-bottom: 17px;
  }

  .gallery__item-likes {
    margin-top: 31px;
    margin-right: 10px;
  }

  .gallery__item--road .gallery__item-likes {
    margin-right: 17px;
  }

  .gallery__item--road .gallery__item-box {
    background-color: $gray-focus;
  }

  .gallery__image-sunset {
    width: 100%;
    margin-top: 22px;
  }

  .gallery__item-box .gallery__item-likes--sunset {
    margin-right: 1px;
  }

  .gallery__item-likes::before {
    left: -31px;
  }
}

@media (min-width: $tablet-only) {
  .gallery__list {
    justify-content: center;
  }
}

@media (min-width: $desktop-width) {
  .gallery {
    padding: 0;
  }

  .gallery__image img {
    margin-bottom: 0;
  }

  .gallery__image-sunset {
    width: 100%;
    margin-top: 0;
  }

  .gallery__item {
    position: relative;
    margin-bottom: 0;
  }

  .gallery__item-box {
    position: relative;
    color: $basic-white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0 20px;
    margin-top: -81px;
  }

  .gallery__item--road .gallery__item-box {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .gallery__item-likes::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -32px;
    width: 23px;
    height: 21px;
    background-image: url("../img/optimized-svg/like-desktop.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}
