.hotel-search {
  padding: 30px 25px;
}
.hotel-search__title {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}
.hotel-search__intro {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

