.intro__image {
  position: relative;
  height: 384px;
  text-align: center;
  background-color: $lightblue;
  background-image: url("../img/index/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 57% -5px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index/back-mobile@2x.jpg");
    background-size: cover;
  }
}

.intro__image img {
  width: 282px;
  height: 214px;
  margin-top: 89px;
}

.intro__image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 57px;
  top: 327px;
  left: 0;
  background-image: url("../img/optimized-svg/intro-triangle-mobile.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.intro__image--inner {
  height: 157px;
  background-position: 50% -233px;
  background-size: cover;
}

.intro__image--inner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 57px;
  top: 100px;
  left: 0;
  background-image: url("../img/optimized-svg/intro-triangle-mobile.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.intro__image--inner img {
  width: 229px;
  height: auto;
  margin-top: 50px;
}

.intro__subtitle {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: 38px 0 30px;
}

.intro__subtitle--form {
  margin: 38px 0 26px;
}

.intro__text {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  padding: 0 18px;
  margin-bottom: 35px;
}

.intro__text--form {
  margin-bottom: -6px;
}

.intro__subtitle br {
  display: none;
}

.intro__text br {
  display: none;
}

.intro__subtitle-wrap br {
  display: block;
}


@media (max-width: $mobile-only) {
  .intro__subtitle {
    padding: 0 24px;
  }

  .intro__text--main::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 37px;
    top: 65px;
    left: 0;
    background-image: url("../img/optimized-svg/mask-2.svg");
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
}

@media (min-width: $tablet-width) {
  .intro__image {
    height: 518px;
    background-image: url("../img/index/back-tablet.jpg");
    background-size: cover;
    background-position: 57% 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/back-tablet@2x.jpg");
    }
  }

  .intro__image::after {
    top: 462px;
    background-image: url("../img/optimized-svg/intro-triangle-tablet.svg");
  }

  .intro__image img {
    width: 460px;
    height: 350px;
    margin-top: 77px;
  }

  .intro__image--inner {
    height: 289px;
    background-size: cover;
    background-position: 57% -228px;
  }

  .intro__image--inner::after {
    top: 233px;
    left: 0;
    background-image: url("../img/optimized-svg/intro-triangle-tablet.svg");
  }

  .intro__image--inner img {
    width: 457px;
    height: 80px;
    margin-top: 93px;
  }

  .intro__subtitle--form {
    font-size: 30px;
    line-height: 26px;
    margin: 63px 0 33px;
  }

  .intro__subtitle-wrap {
    font-size: 21px;
    line-height: 26px;
    margin-top: 44px;
  }

  .intro__text {
    margin-bottom: 54px;
  }

  .intro__subtitle br {
    display: block;
  }

  .intro__text br {
    display: block;
  }
}


@media (min-width: $desktop-width) {
  .intro__image {
    background-image: url("../img/index/back-desktop.jpg");
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/back-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .intro__image--inner {
    height: 302px;
    background-position: 57% -217px;
    background-size: cover;
  }

  .intro__image--inner img {
    margin-top: 101px;
  }

  .intro__inner .intro__image--inner::after {
    top: 246px;
    left: 0;
    background-image: url("../img/optimized-svg/intro-triangle-desktop.svg");
  }

  .intro__image::after {
    top: 464px;
    background-image: url("../img/optimized-svg/intro-triangle-desktop.svg");
  }

  .intro__subtitle {
    margin: 57px 0 30px;
  }

  .intro__subtitle--form {
    margin: 112px 0 30px;
  }

  .intro__text {
    margin-bottom: 41px;
  }
}
