.intro {
  padding: 10px 18px;
}
.intro__slogan {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 41px;
}
.intro__text {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}
