.main-nav {
  position: relative;
  font-size: 18px;
  line-height: 40px;
  font-weight: normal;
  background-color: $lightblue;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__link {
  color: $basic-white;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }
  .main-nav {
    background-color: $basic-white;
  }
  .main-nav__link {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: $basic-black;
  }
  .main-nav__toggle {
    display: none;
  }
}

