.main-nav {
  position: relative;
  font-size: 18px;
  line-height: 40px;
  font-weight: normal;
  width: auto;
  min-height: 55px;
  padding-bottom: 56px;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $basic-white;
}

@media (max-width: $mobile-only) {
  .main-nav li {
    min-height: 56px;
    text-align: center;
    background-color: $lightblue;
    border-top: 1px solid $lightblue-hover;
    border-bottom: 1px solid $lightblue-focus;
  }

  .main-nav__item a {
    color: $basic-white;
    display: block;
    width: initial;
  }

  .main-nav__item:hover {
    background-color: $lightblue-hover;
  }

  .main-nav__item:active {
    background-color: $lightblue-focus;
  }

  .main-nav__item:active a {
    opacity: 30%;
  }

  .main-nav__item--current a {
    color: $basic-white;
    opacity: 30%;
  }

  .main-nav__toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 56px;
    height: 55px;
    background-color: transparent;
    cursor: pointer;
    border: none;

    &:hover {
      opacity: 60%;
    }

    &:active {
      opacity: 30%;
    }
  }

  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 17px;
    width: 23px;
    height: 4px;
    background-color: #81b3d2;
    box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--opened .main-nav__list {
    display: block;
    background-color: $lightblue;
    box-shadow: 0 4px 4px rgba(68, 47, 47, 0.2);
  }

  .main-nav--opened .main-nav__toggle {
    top: 0;
    right: 0;
    background-color: transparent;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 24px;
      left: 18px;
      width: 22px;
      height: 3px;
      background-color: $basic-white;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
  }

  .main-nav {
    padding: 8px 5px 8px 48px;
    background-color: $basic-white;
  }

  .main-nav li {
    border: none;
    width: 120px;
  }

  .main-nav li:first-child {
    margin-right: 15px;
  }

  .main-nav li:nth-child(2) {
    margin-right: 188px;
  }

  .main-nav li:nth-child(3) {
    margin-left: auto;
  }

  .main-nav li:last-child {
    margin-left: 35px;
  }

  .main-nav__item a {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: $basic-black;
  }

  .main-nav__item a:hover {
    color: $lightblue;
  }

  .main-nav__item a:active {
    color: $basic-black;
    opacity: 30%;
  }

  .main-nav__item--current a {
    color: $basic-brown;
  }

  .main-nav__item--current a:hover {
    color: $brown-hover;
  }

  .main-nav__item--current a:active {
    color: $basic-brown;
    opacity: 30%;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    justify-content: space-around;
  }

  .main-nav {
    padding: 8px 48px;
  }

  .main-nav li:first-child {
    margin-right: 98px;
    margin-left: 43px;
  }

  .main-nav li:nth-child(2) {
    margin-right: 273px;
  }

  .main-nav li:nth-child(3) {
    margin-right: auto;
  }

  .main-nav li:last-child {
    margin-left: 35px;
  }
}
