.page-header {
  position: relative;
  min-height: 56px;
  color: $basic-black;
  background-color: $basic-white;
}
.page-header__logo img {
  width: 101px;
  height: 84px;
  position: absolute;
  left: 50%;
  transform: translateX(-50px);
  z-index: 1;
  bottom: -24px;
}
@media (min-width: $desktop-width) {
  .page-header__logo img {
    width: 186px;
    height: 96px;
    top: 0;
    left: 47%;
  }
}
