.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 20px 22px;
}
.page-footer__contacts-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: $basic-black;
}
.page-footer__copyright {
  display: flex;
  font-size: 14px;
  line-height: 26px;
  align-items: center;
  justify-self: end;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 36px 60px;
  }
  .page-footer__contacts {
    justify-self: start;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding: 36px 120px;
  }
  .copyright__link {
    margin-left: auto;
  }
  .page-footer__contacts-hashtag {
    margin-right: auto;
  }

}
