.page-footer {
  padding: 25px 60px;
}
.page-footer__contacts-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: $basic-black;
}
.page-footer__copyright {
  display: flex;
  font-size: 14px;
  line-height: 26px;
}
