.page-header {
  position: relative;
  min-height: 56px;
  color: $basic-black;
  background-color: $basic-white;
}

.page-header__logo img {
  position: absolute;
  left: 50%;
  transform: translateX(-50px) translateY(3px);
  z-index: 1;
  width: 101px;
  height: 84px;
  bottom: -24px;
}

@media (min-width: $desktop-width) {
  .page-header__logo img {
    width: 186px;
    height: 96px;
    top: -2px;
    left: 558px;
  }
}
