.recommendations__list {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 14px;
  line-height: 21px;
  background-color: $basic-white;
  list-style: none;
  margin: 0;
  padding: 0;
}

.recommendations__subtitle {
  font-size: 18px;
  line-height: 21px;
}

.recommendations__item--food .recommendations__subtitle {
  margin-top: 12px;
}

.recommendations__item {
  padding: 0 21px 2px 69px;
}

.recommendations__item--accomodation {
  padding-top: 19px;
}

.recommendations__item--food {
  padding-bottom: 23px;
}

.recommendations__item--accomodation::before {
  content: "";
  position: absolute;
  transform: translateX(-48px) translateY(9px);
  width: 39px;
  height: 37px;
  background-image: url("../img/optimized-svg/house.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.recommendations__item--gifts::before {
  content: "";
  position: absolute;
  transform: translateX(-44px) translateY(4px);
  width: 32px;
  height: 38px;
  background-image: url("../img/optimized-svg/gift.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.recommendations__item--food::before {
  content: "";
  position: absolute;
  transform: translateX(-52px) translateY(4px);
  width: 40px;
  height: 35px;
  background-image: url("../img/optimized-svg/burger.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.recommendations__description br {
  display: none;
}

@media (min-width: $tablet-width) {
  .recommendations__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .recommendations__item {
    min-height: 330px;
    text-align: center;
    padding: 140px 32px 30px;
  }

  .recommendations__subtitle {
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 26px;
  }

  .recommendations__item--food {
    order: 1;
  }

  .recommendations__item--gifts {
    order: 2;
  }

  .recommendations__item--food .recommendations__description {
    padding: 0 20px;
  }

  .recommendations__item--food .recommendations__subtitle {
    margin-top: 21px;
  }

  .recommendations__item--accomodation::before {
    transform: translateX(-37px) translateY(-80px);
    width: 75px;
    height: 72px;
    background-size: 75px 72px;
  }

  .recommendations__item--gifts::before {
    transform: translateX(-34px) translateY(-83px);
    width: 64px;
    height: 75px;
    background-size: 64px 75px;
  }

  .recommendations__item--food::before {
    transform: translateX(-38px) translateY(-77px);
    width: 76px;
    height: 68px;
    background-size: 76px 68px;
  }
}

@media (min-width: $desktop-width) {
  .recommendations__item {
    padding: 140px 46px 30px;
  }

  .recommendations__item--food {
    padding: 140px 29px 30px;
  }

  .recommendations__description br {
    display: block;
  }
}
