.social__list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.social__link {
  display: block;
  width: 46px;
  height: 48px;
  text-align: center;
  background-color: $lightblue;
  padding: 14px;
}
.social__link--facebook {
    margin-left: 5px;
    margin-right: 5px;
}


