.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.video__subtitle {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 35px;
}
.video__intro {
  margin: 0 30px 30px;
}
.video__intro br {
  display: none;
}
.video__poster {
  position: relative;
  height: 200px;
  width: 100%;
  text-align: center;
  background-color: $lightblue;
  background-image: url("../img/catalog/video-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/video-mobile@2x.jpg");
      background-size: cover;
  }
}
.video__control {
  position: relative;
  display: flex;
  align-items: center;
  width: 280px;
  min-height: 66px;
  background-color: $form-gray;
  padding: 0 25px;
}
.video__button {
  border: $form-gray;
  outline: none;
  cursor: pointer;
}
.video__button-icon {
  fill: $gray-video;
}
.video__button-icon:hover {
  fill: $basic-black;
}
.video__button-icon:active {
  fill: $basic-black;
  opacity: 30%;
}
.video__scale {
  position: absolute;
  top: 22px;
  left: 22px;
  width: 235px;
  height: 3px;
  background-color: $basic-white;
  opacity: 50%;
  cursor: pointer;
}
.video__toggle {
  position: absolute;
  transform: translateX(84px) translateY(19px);
  width: 10px;
  height: 10px;
  padding: 0;
  border-radius: 50%;
  background-color: $basic-white;
  cursor: pointer;
}

@media (max-width: $mobile-only) {
  .video__play {
    position: absolute;
    transform: translateX(-25px) translateY(-55px);
    width: 280px;
    height: 45px;
    background-color: $basic-black;
    opacity: 60%;
  }
  .video__button-icon--subtitles {
    margin-left: 110px;
  }
}

@media (min-width: $tablet-width) {
  .video {
    padding: 60px 60px 40px;
  }
  .video__intro br {
    display: block;
  }
  .video__poster {
    position: relative;
    height: 500px;
    width: 100%;
    background-image: url("../img/catalog/video-tablet.jpg");
    background-position: 0 0;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/video-tablet@2x.jpg");
      background-size: cover;
    }
  }
  .video__control {
    position: absolute;
    transform: translateY(566px);
    justify-content: space-between;
    width: 648px;
    background-color: $basic-black;
    opacity: 50%;
  }
  .video__scale {
    position: relative;
    top: 0;
    width: 389px;
    height: 3px;
    background-color: $basic-white;
    opacity: 50%;

  }
  .video__toggle {
    position: absolute;
    transform: translateX(156px) translateY(-6px);
    width: 10px;
    height: 10px;
    padding: 0;
    border-radius: 50%;
    background-color: $basic-white;
  }
  .video__control path {
    fill: $basic-white;
  }
  .video__button {
    background-color: $basic-black;
  }
  .video__button-icon {
    background-color: $basic-black;
    fill: $basic-white;
  }
  .video__button-icon:hover {
    fill: $basic-white;
    opacity: 60%;
  }
  .video__button-icon:active {
    fill: $basic-white;
    opacity: 30%;
  }
}

@media (min-width: $desktop-width) {
  .video {
    padding: 60px 200px 85px;
  }
  .video__subtitle {
    font-size: 30px;
    line-height: 26px;
  }
  .video__intro {
    font-size: 14px;
    line-height: 24px;
  }
  .video__poster {
    background-image: url("../img/catalog/video-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/video-desktop@2x.jpg");
      background-size: cover;
    }
  }
  .video__control {
    transform: translateY(572px);
    width: 800px;
  }
  .video__scale {
    width: 540px;
  }
  .video__control path {
    fill: $basic-white;
  }
}
