$basic-black: #000000;
$basic-white: #ffffff;
$basic-gray: #666666;
$basic-brown: #766357;
$lightblue: #81b3d2;
$lightblue-hover: #669ec0;
$lightblue-focus: #5496bd;
$text-color: #333333;
$brown-hover: #604e43;
$brown-focus: #503e33;
$advantages-gray: #eeeeee;
$form-gray: #f2f2f2;
$gray-hover: #ebebeb;
$gray-focus: #e5e5e5;
